
<form #data=ngForm  (ngSubmit)="save(data.value)">
    <h2>Book Your Hotel</h2>
    <div class="row mt ">
     
      <div class="col-md-3 col-6  ">
        <label for="name" class="full" >Your Name</label>
        <input type="text" name="name" required #name="ngModel" [class.invalid-box]="name.invalid && name.touched" placeholder="your name"  class="col-12 form-control" [(ngModel)]="user_model.name" >
        <span class="error" [class.display-none]="name.valid || name.untouched">* Name is required</span>
      </div>
  
      <div class="col-md-3 col-6  ">
          <label for="email" class="full" >Your Email</label>
          <input type="text" name="email" required #email="ngModel" [class.invalid-box]="name.invalid && name.touched" placeholder="your email" class="col-12 form-control" [(ngModel)]="user_model.email" >
          <span class="error" [class.display-none]="email.valid || email.untouched">* Email is required</span>
        </div>
  
        <div class="col-md-3 col-6  ">
            <label for="contact" class="full" > Contact Number </label>
            <input type="text" name="phone" required #phone="ngModel" [class.invalid-box]="name.invalid && name.touched" placeholder="your contact" class="col-12 form-control"  [(ngModel)]="user_model.phone">
            <span class="error" [class.display-none]="phone.valid || phone.untouched">* Phone is required</span>
          </div>
  

        <div class="col-md-3 col-6 ">
            <label for="location" class="full">Location</label>
            <input type="text" name="location" required #location="ngModel" [class.invalid-box]="name.invalid && name.touched" placeholder="location" class="col-12 form-control" [(ngModel)]="user_model.location" >
            <span class="error" [class.display-none]="location.valid || location.untouched">* Location is required</span>
          
          </div>
      </div>
<div class="row mt1">
  
  <div class="col-md-3 col-6  ">
      <label for="checkin" class="full" >Check In Date</label>
      <input type="date" name="checkin" required #checkin="ngModel" [class.invalid-box]="name.invalid && name.touched" placeholder="Date" class="col-12 form-control" [(ngModel)]="user_model.checkin">
      <span class="error" [class.display-none]="checkin.valid || checkin.untouched">* Check In Date is required</span>
          
    </div>

  <div class="col-md-3 col-6  ">
      <label for="Checkout" class="full">Check Out Date</label>
      <input type="date" required #checkout="ngModel" [class.invalid-box]="name.invalid && name.touched" name="checkout" placeholder="" class=" col-12 form-control" [(ngModel)]="user_model.checkout">
      <span class="error" [class.display-none]="checkout.valid || checkout.untouched">* Check Out Date is required</span>
          
    </div>

      <div class="col-md-3 col-12  ">
          <label for="nop" class="full">People</label> 
          <input type="text" required #people="ngModel" [class.invalid-box]="name.invalid && name.touched" name="people" placeholder="number of people" class=" col-12 form-control" [(ngModel)]="user_model.people">
          <span class="error" [class.display-none]="people.valid || people.untouched">* Number Of People is required</span>
        </div>

      <div class="col-md-3 col-12 ">
        <label class="full btn-label">&nbsp;</label> 
        <input type="submit" name="sb" value="Enquiry" data-toggle="modal" data-target="#state" class="col-12 btn" [disabled]="data.invalid">
      </div>
</div>
</form>



<!-- The Modal -->
<div class="modal fade" id="state">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<h5>Thank you for your enquiry!</h5><p>We will contact you shortly.</p>
			</div>
		</div>
	</div>
</div>