*{padding: 0;margin:0;}
header{
    position: sticky;top:0px;z-index: 99;
}
.row{margin:0;padding:0}
.top-header{background-color: #FAFDFE;margin:0;padding-top: 0.5% }
#name{font-family: 'Yanone Kaffeesatz', sans-serif;text-align: center; color:#34ccfe; padding-top:0.5%; padding-bottom:1%}
#name p{font-family: 'Tangerine', cursive;}
.logo img{padding:0;margin-left:10%}
.pd{padding-top: 5.5%;}
.color{background-color: #2C2E3E}
.menu{display: block;padding: 1.5% 0; margin-left: 8.3%}
.menu-item{margin-left: 15%; color:White;font-size: 18px;padding:1%}
.menu-item:hover{
    text-decoration-color: yellow;
    text-decoration-style: solid;
}
.social{text-align: center; padding-top: 1.5%}
.social i{margin-left: 10%;font-size:20px;}
.fa-facebook{color:#3b5998;}
.fa-twitter{color:#1DA1F2;}
.fa-instagram{color:#fb3958;}

.toggle{display: none;}

.animation i{
    animation-name: mv;
    animation-duration: 6s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes mv{
    from{left:-100px;top:0px}
    to{left:100px;top:0px}
}
/* Media Query at large screen size 900px */

/* Media Query at medium screen size 767px */
@media screen and (max-width:767px){
    .logo{padding:0 0 2% 0;}
    .logo img{ margin-left: 0;}
.menu{display: none;text-align: center; margin-left: 0;}
.menu-item{display: block; width:100%;text-align: left; margin-left: 0;font-size: 16px; padding:2%;border-bottom: 0.5px solid whitesmoke;}
.mb{margin-bottom:2%;}
.toggle{display:block;font-size: 30px;color:black;padding-left:1%;font-size: 40px;padding-top: 2%}
/* .social{margin-top: 2%;margin-left: 0%;} */
/* .social i{font-size: 25px;margin-left: 5%} */
.social{display: none;}
#name h1{text-align:left;padding-left: 22%}
#name p{font-size: 14px;text-align: left; padding-left: 2%}

}
/* Media Query at small screen size 575px */
@media screen and (max-width:575px){
    .toggle{font-size: 28px;padding-top:1%;padding-left: 3%}
    .logo  {padding-top:0.5%;}
    #name h1{text-align:left;padding-left: 16%; font-size: 30px;}
#name p{font-size: 14px;text-align: left; padding-left: 0%;font-size: 11px;}
.menu-item{font-size: 14px;} 
}

@media screen and (max-width:486px){
    .toggle{padding-left:0%;}
    .logo  {padding-top:4%;}
#name p{font-size: 14px;text-align: left; padding-left: 0%;font-size: 9px;}; 
}



