<footer class="container-fluid floating">

	<div class="f-container ">
		<div class="row">

			<div class="col-md-4 col-12	center mb">
				<h2 class=" full left-p">Aroosh Travels</h2>
				<p class="full left-p">Aroosh Travels is an online travel and corporate booking company which helps you to book your flights ,trains, bus, hotels
					, holiday , visa and travel insurance on the go. Providing varieties of options to choose your next holiday and helps
					you to get your visa easily without any hassle. We curate the best deals at the best price just for you.
				</p>
			</div>

			<div class="col-md-2 col-12 center mb ">
				<h2 class=" full center">Book Now</h2>
				<a href="#">Flight</a>
				<a href="#">Train</a>
				<a href="#">Hotel</a>
				<a href="#">Holiday</a>
				<a href="#">Visa</a>
			</div>

			<div class="col-md-3 col-12 left-p mb">
				<h2 class=" full left-p">Contact</h2>
				<p class="full left-p">
					<i class="fa fa-home"></i>
					Laxmipur Siwan,
					<br>Siwan Bihar India 841226</p>
				<a href="tel:+91-896-920-4449" class="full left-p">
					<i class="fa fa-phone"></i>
					+91-896-920-4449</a>
				<a href="mailto:aroosh.travels@gmail.com" class="full left-p">
					<i class="fa fa-envelope"></i>
					aroosh.travels@gmail.com</a>
			</div>

			<div class="col-md-3 col-12 left-p">
				<h2 class=" full left-p">Quick Links</h2>
				<a class="full .left-p" data-toggle="modal" data-target="#feedback">Add Feedback</a>
				<a class="full left-p" routerLink="/service">Our Services</a>
				<a class="full left-p" routerLink="/service">About Us</a>
				<a class="full left-p" routerLink="/service">Contact Us</a>
			</div>
		</div>

		<div class="row">
			<h5 class="full center">Follow Us </h5>
		<div class="social col-md-4 col-8 pd">

			
				<a href="https://www.facebook.com/Aroosh-Travels-250062245436085/" target="_blank"><i class="fab fa-facebook "></i></a>
				<a href="#"><i class="fab fa-instagram "></i></a>
				<a href="#"><i class="fab fa-twitter "></i></a>
			</div>
			
	
</div>
	</div>
	


	

	<p class="full center mt">Copyright &copy; | All Rights Reserved</p>

</footer>

<!-- The Modal -->
<div class="modal fade" id="feedback">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Please Provide Your Feedback</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="text" placeholder="your name" class="form-control">
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="5" placeholder="enter your feedback"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success" value="Send">
					</div>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>