<div class="container-fluid">
  <div class="container">
      <div class="row">
    <h4 class="full center">Our Satisfied Customer say!</h4>
</div>
  <!--
  <table  class="table table-bordered">
  <tbody *ngFor = "let a of x">
  <tr>
  <td>{{a.name}}</td>
  <td>{{a.msg}}</td>
  <td>{{a.star}}</td>
  
  </tr>
</tbody>
</table>
-->
<div class="row" *ngFor="let a of x">
  <div class="row">
<h5 class="full center">{{a.msg}}</h5>
</div><br>
<div class="row">
<p class="full center">{{a.name}}</p>
</div>
<div class="row">
<p class="full center">{{a.star}}</p>

<ng-template #4>
  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>
</ng-template>
</div>
</div>
  </div>
  </div>

