
<div class="dest-section container-fluid">

  <div class="row">
    <h1 class="full center">Popular Destinations</h1>
  </div>

	<div class="row">

		<div class="dest-box col-md-3 col-6">
		  <div class="box1 hoverbox">
		  </div>
		  <span class="full center">
				<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
			  <h5>Family Tour To Paris</h5>
			  <p>PARIS</p>
		  </span>	
		</div>
		
		<div class="dest-box col-md-3 col-6">
				<div class="box2 hoverbox">
				</div>
				<span class="full center">
						<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
					<h5>Experience The Paradise In</h5>
					<p>BALI</p>
				</span>	
			  </div>

			  <div class="dest-box col-md-3 col-6">
					<div class="box3 hoverbox">
					</div>
					<span class="full center">
							<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
						<h5>Plan Your Next Road Trip To</h5>
						<p>LADAKH</p>
					</span>	
				  </div>

				  <div class="dest-box col-md-3 col-6">
						<div class="box4 hoverbox">
						</div>
						<span class="full center">
								<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
							<h5>Explore The Islands Of</h5>
							<p>MALDIVES</p>
						</span>	
					  </div>

		

	</div>
	<div class="row">
			<div class="dest-box col-md-3 col-6">
					<div class="box5 hoverbox">
					</div>
					<span class="full center">
							<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
						<h5>Family Tour To London</h5>
						<p>LONDON</p>
					</span>	
				  </div>
				  <div class="dest-box col-md-3 col-6">
						<div class="box6 hoverbox">
						</div>
						<span class="full center">
								<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
							<h5>Enjoy Your Next Holiday In</h5>
							<p>CROATIA</p>
						</span>	
					  </div>
					  <div class="dest-box col-md-3 col-6">
							<div class="box7 hoverbox">
							</div>
							<span class="full center">
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
								<h5>Experience The Trip To</h5>
								<p>LAS VEGAS</p>
							</span>	
						  </div>
						  <div class="dest-box col-md-3 col-6">
								<div class="box8 hoverbox">
								</div>
								<span class="full center">
										<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
									<h5>Enjoy The Safari In</h5>
									<p>DUBAI</p>
								</span>	
							  </div>

	</div>
		
	</div>	

