<div class="container-fluid about-page">

		<div class="about-top">
		<div class="row">
			<h1 class="full center"> About Us</h1>
		</div>
	    </div>

	    <div class=" about-content">
	      <div class="row pd">
	      	<div class="left col-12 col-md-6">
				<img src="/assets/images/about-content.jpg" class="img-thumbnail img-fluid" alt="Hotel" width="100%" height="100%">
			</div>

	      	
			<div class="right col-12 col-md-6">
				<h1 class="full center">Who are we?</h1>
				<p class="p1">
						Aroosh Travels is an online travel and corporate booking company which helps you to book your flights ,trains, bus, hotels and holiday on the go. 
						We curate  the best deals at the best price just for you. 
						Based on the ideology that every person should be allowed to get the best travel experience whether it is through air ,train or road. We believe that every traveller deserves the best stay experience in terms of hotels irrespective of the city they are travelling. 
						With us you’ll get the best user experience in terms of flight, train , bus or hotel bookings, customer support, fast and easy refund process.</p>
				
			</div>
			</div>

	       <div class="row pd1">
	      	<h1 class="full center "> what we do? </h1>
	      	<p class="p2">We take care of all your needs when it comes to travel and holidays. From the flights , trains or bus bookings to reach out to your favourite destination , to making sure that you get the best hotels to stay at the best affordable prices, 
				  from the Visa enquiries, to getting you the best holiday deal, We cover you all. 
			 We also provide travel insurance for your security across the globe , because we care for you!
				 
			  </p>
		  </div>
		  

	      <div class="row pd1">
	      	<div class="about-service-box about-box col-md-3 col-6">
	      	</div>
	      	<div class="about-name-box">
		    </div>

	      	<div class="about-service-box about-box1 col-md-3 col-6">
	      	</div>
	      	<div class="about-name-box">
		    </div>

	      	<div class="about-service-box about-box2 col-md-3 col-6">
	      	</div>
	      	<div class="about-name-box">
		    </div>

	      	<div class="about-service-box about-box3 col-md-3 col-6">
	      	</div>
	      	<div class="about-name-box">
		    </div>

	      </div>
	    </div>
	</div>

	<app-section1></app-section1>
	
	