.about-page{min-height: 700px;padding: 0;}
.about-top{
	background-image: url("/assets/images/about.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 700px;
}
.about-top h1{
	color:white;
	font-size: 60px;
	font-weight: 500;
	margin-top: 15%;
	/*word-spacing: 5px;*/
	letter-spacing: 2px;
}


.about-content{width:80%;margin:0 10%; margin-bottom: 5%;}
.pd{padding: 8% 0;}
.pd1{padding:3% 0}

.p1{ width:80%; margin-left: 10%; margin-top: 15%;line-height: 1.7;}
.p2{ text-align: left; margin-top: 2%;line-height: 1.7;}
.row{margin:0;margin-bottom: 0%}
.about-service-box{
	float: left;
	min-height: 300px;
	position: relative;
	overflow: hidden;

}
.about-box{background-image: url('/assets/images/about-flight.jpg'); background-size:  cover;}
.about-box1{background-image: url('/assets/images/about-hotel.jpg'); background-size:  cover;}
.about-box2{background-image: url('/assets/images/about-holiday.jpg'); background-size:  cover;}
.about-box3{background-image: url('/assets/images/about-visa.jpg'); background-size:  cover;}

.about-name-box{
	float: left;
	width:100%;
	min-height: 140px;
	/*background-color: rgba(254,254,254,0);*/
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.about-service-box:hover{
transform: translateY(-100px);
transition: 0.5s;
}


/* Media Query at large screen size 900px */
/* Media Query at medium screen size 767px */
@media screen and (max-width:767px){
	.about-top{min-height: 460px;}
	.about-top h1{margin-top:12%;font-size: 45px}
	.about-content{width: 100%; margin:0%;}
	.about-service-box{min-height: 250px}
	.left, .right{padding:5% 0}
	 h1{font-size: 30px;}
	/* .right p{ width:96%; margin-left: 2%; margin-top: 10%;} */
	.p1,.p2{font-size: 16px; width:90%; margin-left: 5%	}

}
/* Media Query at medium screen size 575px */
@media screen and (max-width:575px){
	.about-top{min-height:280px;}
	.about-top h1{margin-top:15%}
	.about-service-box{min-height: 220px}
	.about-top h1{font-size: 36px;}
	.p1, .p2{font-size: 14px;}

}