<div class="container-fluid service-page">

		<div class="service-top">
		<div class="row">
			<h1 class="full center"> Our Services</h1>
		</div>
		</div>
		
		<div class="inner-section">
		   <div class="pd row">

			<div class="left col-6">
				<img src="/assets/images/hotel-service.jpg" class="img-thumbnail img-fluid" alt="Hotel" width="100%" height="100%">
			</div>

			<div class="right pd1 col-6">
				<h1 class="full center">Hotel Bookings</h1>
				<p class="">
						We provide you the best hotels in the city to make your stay comfortable and relaxed.
						From Luxury suites to economic rooms, we have variety of options to choose
						from. So if you are looking for hotels to stay for your next holiday, we are here to solve your problem.
				</p>
			</div>
		</div>

			<div class="pd row">

			<div class="left pd1 col-6">
				<h1 class="full center">Flight Bookings</h1>
				<p>
						We take care of your ease and hence We offer topmost flight booking services to make your journey safe and hassle free. Whether it is domestic or International , we help you to book your flight tickets for your next destination. You get the best deals for flight bookings with us.
				</p>
				
			</div>

			<div class="right col-6">
				<img src="/assets/images/flight-service.jpg" class="img-thumbnail img-fluid" alt="flight" width="100%" height="100%">
				
			</div>
		</div>

		<div class="pd row">

			<div class="left col-6">
				<img src="/assets/images/train-service.jpg" class="img-thumbnail img-fluid" alt="Hotel" width="100%" height="100%">
			</div>

			<div class="right pd1 col-6">
				<h1 class="full center">Train & Bus Bookings</h1>
				<p >
						Travellers find travelling through roads amazing. Hence Trains and buses are the widely used mode of transportation. With us you can make your road journey a beautiful experience. From volvo and AC buses to Superfast trains , you will get everything here .
				</p>
			</div>
		</div>
			<div class="pd row">

			<div class="left pd1  col-6">
				<h1 class="full center">Travel Insurance</h1>
				<p>
						We believe safety of the traveller is the most important. We care for you, and hence to make your travel holiday safe and secure , we provide you the best travel insurance at the best price so that you can enjoy your holiday .
				</p>
				
			</div>

			<div class="right col-6">
				<img src="/assets/images/insurance-service.jpg" class="img-thumbnail img-fluid" alt="flight" width="100%" height="100%">
				
			</div>
		</div>

			<div class="pd row">

			<div class="left  col-6">
				<img src="/assets/images/visa-service.jpg" class="img-thumbnail img-fluid" alt="Hotel" width="100%" height="100%">
			</div>

			<div class="right pd1  col-6">
				<h1 class="full center">Visa Services</h1>
				<p>
						In this fast and busy life , people don’t have much time to spare. And here we value your time. Now you will get your visa with just one click. Tell us the visa type, be it Business visa or Tourist visa , we will provide you the best service. 
				</p>
			</div>
		</div>
		</div>
	</div>
  

