<div class="container-fluid">
<div class="container section1 ">
		<div class="row">

		<h1 class="full center">What makes us Unique?</h1>
	   </div>

	   <div class="row">

		<div class="box col-md-3 col-sm-6 col-12">
			
			<div class="top center">
			   <div class="box-head"><i class="fa fa-globe fa-2x icon"></i></div>
		    </div>

			<h2 class="full center">Amazing Travel</h2>
			<p class="full center">With us you will get to the best traveling experience starting from your flights to your stay in the best hotels of the city.</p>
		</div>

		<div class="box col-md-3 col-sm-6 col-12">

			<div class="top">
			  <div class="box-head"><i class="fa fa-plane fa-2x icon"></i></div>
		    </div>

			<h2 class="full center">Easy Flight booking</h2>
		 
			<p class="full center">We work here to provide you best flight services 
			keeping your comfort in point. You can book your flights with just one click.</p>
		</div>

		<div class="box col-md-3 col-sm-6 col-12 ">

			<div class="top">
			  <div class="box-head"><i class="fa fa-hotel fa-2x icon"></i></div>
		    </div>

			<h2 class="full center">Best Hotel Deals</h2>
			<p class="full center">You can grab top hotels at the best price with our amazing Hotel deals which gives you comfortable stay wherever you go around the globe.</p>
		</div>

		<div class="box col-md-3 col-sm-6 col-12">

			<div class="top">
			  <div class="box-head"><i class="fa fa-comments fa-2x icon"></i></div>
			</div>

			<h2 class="full center">Dedicated Support</h2>
			<p class="full center">We here dedicate our all time and efforts just to keep you happy and to provide best quality services possible.</p>
		</div>
	</div>

</div>
</div>
